/* SLIDESHOW CSSS HERE */

.TopSlideshow {
  width: 100%;
  height: 500px;
  background-color: #D1D3D4;
}


/* The full body grid css is here */

.FullBody {
  display: grid;
  grid-template-columns: 1fr 0.65fr;
  grid-template-rows: 450px 450px 700px 600px 1200px 400px 100px 1400px;
  grid-auto-flow:
  height: 10000px;
  background-color: #f2f2f2;
}

.LeftHalf {
  overflow-y: visible;
  overflow-x: hidden;
  grid-column: 1;
  background-color: #E6E7E8;
  display: grid;
  grid-template-rows: 380px 1000px 200px 700px 1000px 700px;


}

/* LEFT 01 STYLE  */

#Left01 {
  grid-column: 1;
  align-items: center;
}

#Left01 > .Slideshow {
  width: 90%;
  height: 90%;
  background-color: #D1D3D4;
  margin: auto;
  margin-top: 15px;
}

.Slideshow {
    overflow: hidden;
}

.Slideshow > h3 {
  font-family: Lato;
  color: #414042;
  font-weight: normal;
}

.Slideshow > p {
  width: 80%;
  height: 250px;
  margin-left: 20px;

}

/* LEFT 02 STYLE */

#Left02 {
  grid-column: 1;
  overflow: hidden;
}

#Left02 > .GreenCallToAction {
  position: relative;
  float: right;
  top: -53px;
  margin-right: 20px;
  width: 150px;
  height: 30px;
  text-align: center;
}

#Left02 > .GreenCallToAction > p {
  position: relative;
  top: -10px;
}

h2 {
  font-family: Lato;
  color: #414042;
  font-weight:normal;
  font-size: 20pt;
  margin-left: 20px;
}

#TutorialTable {
  height: 880px;
  width: 90%;
  margin: auto;
  position: relative;
  top: -20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

}

/* This will dissapear at a media query soon */

#OA {
  display: grid;
  grid-template-rows: 40px 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

@media (max-width: 990px) {
  #OA {
    display: none;
  }
  #OB {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

#OB {
  display: grid;
  grid-template-rows: 40px 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

.TutorialHead {
  overflow: hidden;
  font-family: Raleway;
  color: #F1F2F2;
  font-weight: bolder;
  font-size: 1.5vw;
  text-align: center;
  background-color: #00AEEF;
  border-radius: 5px;
  line-height: 40px;
  margin-right: 8px;
  margin-left: 8px;
}

.HoverContainer {
  background-color: white;
  opacity: 0;
  height: 0%;

}

.HoverContainer > p {
  margin: auto;
  width: 90%;
  position: relative;
  top: 10px;
}

.HoverContainer > .ProgressBarContainer {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: -80px;
  height: 25px;
}

.HoverContainer > .ProgressBarContainer > .ProgressBar {
  height: 25px;
  text-align: center;
  padding-top: 3px;
}

.HoverContainer > * {
   opacity: 1;
}

.TutorialPost:hover .HoverContainer {
  height: 100%;
  opacity: 0.9;
}



.TutorialPost {
  position: relative;
}

.TitleBox {
  position: absolute;
  bottom: 0px;
  background-color: #414042;
  height: 40px;
  width: 100%;
}

.TitleBox > h2 {

  line-height: 40px;
  font-size: 15px;
  margin: auto;
  margin-left: 20px;
  color: white;
}


/* SUBCRIBE BOX CSS */

#Left03 {
  grid-column: 2;
  grid-row: 6;

}

#Left03 .CenterContainer {
  width: 90%;
  height: 90%;
  top: 5%;
}

#Left04 {
  grid-row: 8/9;
  grid-column: 1;
}


#Left05 {
  grid-column: 1;
}


#Left06 {
  grid-column-start: 1;
}

#Left07 {
  grid-column: 1;
}

#Left08 {
  grid-column: 1;
}

#SubscribeBox {
  background-color: #D1D3D4;
  border-radius: 5px;
}

#SubscribeBanner {
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

#SubscribeBanner {
  color: #F1F2F2;
  font-family: Lato;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 45px;
  background-color: #594A42;
  position: relative;
  top: 20px;

  text-align: center;
}

#SubscribeBanner > h3 {
  font-family: Raleway;
  color: #F1F2F2;
  position: relative;
  top: -25px;
}

#SubscribeBox {
  position: relative;
}

#SubscribeBox > .InputBoxContainer {
  position: relative;

  top: 0px;

  width: 75%;
  height: 40px;

  left: 12%;


}

/* POPULAR TUTORIALS SECTION  */

#Right01 {
  grid-column-start: 1;
  grid-column-end: 3;
   grid-row: 1;

}

.ChildCenterContainer {
  position: relative;
  width: 95%;
  height: 90%;
  top:10px;
}

#Right01 > .CenterContainer {
  width: 90%;
  height: 90%;
  top:-2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

#Right01 > .CenterContainer > .TutorialPost {
  width: 100%;

  height: 75%;
}

#Second {
  grid-column: 2;
}

/* BIG PROJECT COLUMN (RIGHT) */

#Right02 {
  position: relative;
  width: 90%;
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#Right02 > * {
  background-color: #e2e2e2;
}

#Right02 > .CenterContainer {
  width: 90%;
  height: 99%;
  top:0.5%;
  display: grid;
  grid-template-rows: 110px 400px 250px 900px 70px;
  background-color: #e2e2e2;
}

 #ProjectHeader > .CenterContainer {
   position: relative;
   width: 95%;
   height: 50%;
   top:50px;
   background-color: #00AEEF;
   text-align:center;
   line-height: 50px;
   font-weight: bolder;
   color: #F2F2F2;
   font-size: 27px;

}

#Right02 > .CenterContainer > div > h4 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 35px;
  width: 100%;
  text-align: center;
  position: relative;
  top: -50px;
}

#Right02 > .CenterContainer > div > p {
  font-family: Raleway;
  font-weight: normal;
  font-size: 16px;
  width: calc(100% - 20px);
  text-align: center;
  position: relative;
  top: -80px;
}

#Right02 > .CenterContainer > div > .LightGreenCallToAction {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  height: 30px;
  width: 170px;
  text-align: center;
  line-height: 30px;
  color: #F2F2F2;
  position: relative;

}

.SimpleLog:hover {
  background-color: #BCBEC0;
}

.SimpleLog > h5 {
  font-family: Raleway;
  font-weight: normal;
  position: relative;
  top: -30px;
}

.SimpleLog {
  text-overflow: ellipsis;
  background-color: #e2e2e2;
}

.SimpleLog > p {

  font-family: Raleway;
  font-weight: normal;
  margin-left: 40px;
  font-size: 16px;
  width: calc(100% - 80px);
  text-overflow: clip;
  position: relative;
  top: -60px;


  text-overflow: ellipsis;
   display: block;

}

/* THIS IS THE LATEST POST DIV STYLE SHEET */

.LatestPost > .PostThumbnail {
  margin-left: 40px;
  position: relative;
  top: 5px;
}


.LatestPost > p {
  position: relative;
  top: -150px;
  right: -160px;
  width: 70%;
  height: 100px;
}


.LatestPost {
  height: 150px;
}


.LatestPost > .Seperator {
  position: relative;
  top: -170px;
}

.LatestPost > h4 {
  font-family: Raleway;
  font-size: 25px;
  position: relative;
  right: -160px;
  top: -120px;
}

/* ABOUT ME THE STYLE SHEET MOST IMPORTANT TO ME  */

#Left05 > .CenterContainer {
  width: 95%;
  height: 95%;
}

#AboutMeImage {
  position: relative;
  overflow: visible;
  width: 280px;
  height: 280px;
  background-color: #BCBEC0;
}

#AboutName {

}

.AboutSub {
  position: relative;
  right: -300px;
}

#Left05 > .CenterContainer > p {
  position: absolute;

}

.CenterContainer > .LightGreenCallToAction {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  height: 30px;
  width: 170px;
  text-align: center;
  line-height: 30px;
  color: #F2F2F2;
  position: relative;
  top: 5px;
  float: right;
  margin-right: 20px;

}


/* QUOTE BLOCK (SECOND MOST AWESOME BLOCK) */
#LeftQuoteBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#LeftQuoteBlock > b {
  color: #414042; font-size: 30px;
}

#LeftQuoteBlock:hover > b {
  font-size: 40px;
}


/* UPCOMING TUTORIALS AND GET PEOPLE EXCITED  */

#Right03 {
  height: 100%;
  position: relative;
  top: -20px;
  grid-column: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}

#Right03 > .CenterContainer {
  width: 90%;
  height: 90%;
  top:-2%;
  display: grid;
  grid-template-columns: 2;
  grid-column-gap: 20px;
}

#Right03 > .CenterContainer > .TutorialPost {
  width: 100%;

  height: 75%;
}

.TutorialPost:hover > h3 {
  display: none;
  opacity: 0;
}

.TutorialPost > h3 {
  position: absolute;
}


/* CATEGORY MANAGEMENET OVERHERE */

#CategoryManagement {
  grid-column-start: 1;
  grid-column-end: 3;

}

#CategoryManagement > .CenterContainer {
  width: 95%;
  height: 95%;
  top: 2.5%;

  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
}

.CategoryNavigation {
  display: flex;
  justify-content: center;
}

.CategoryContainer > .CenterContainer {
    width: 95%;
}

.rightarrowcategory {
  width: 100%;
  height: 50px;
  margin: auto;
}

.TopHalfImage {
  height: 200px;
  width: 95%;
  margin: auto;
  margin-top: 2%;
}

.CategoryContainer
{
  position: relative;
}

.TopHalfCategoryName {
  font-size: 23px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.CategoryContainer .CenterContainer p {
  width: 92%;
  height: 20%;
  margin: auto;
  margin-top: 10px;
}

.MainContainer {
  text-overflow:ellipsis;
}

 .CategoryHoverShow {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}


.CategoryHoverShow > .ButtonContainer {
  position: relative;
  top: 35px;
}

.ButtonContainer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pagecount {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 13px;
  margin-left: 12px;
}


/* SOCIAL HOLDER SECTION INCLUDING TWITTER */

#SocialHolders {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
}

.TwitterHolder {
  padding: 15px;
  background-color: #dddddd;
  border-radius: 10px;
}

#sb_instagram #sbi_load .sbi_follow_btn svg.fa-instagram {
  margin-right: 0px;
}

#sb_instagram #sbi_load .fa-spinner, #sb_instagram .sbi_follow_btn .fa, #sb_instagram .sbi_follow_btn svg {
  width: 50px;
  height: 50px;
}

.feed {
  border-radius: 5px;
}

.InstagramHolder {
  background-color: #dddddd;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}

.FullContainer {
  width: 100%;
  height: 100%;
}

.FullContainer .TutorialPost {
  height: 90%;
}

.FullContainer .TutorialPost .TitleBox {background-color: #8dc63f;}

#Upcoming {
  top: 10px;
}

#Upcoming .FullContainer {
  position: relative;
  top: -30px;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

#Upcoming .HeightContainer {
  background-color: #dddddd;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: 80% 20%;
}

/* BOTTOM POST LIST CSS */

#BottomPostsList {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.backarrowbottom {
  width: 30px;
  height: 30px;
  position: relative;
  top: -75px;
  margin-right: 20px;
  float: right;
}

.RowGridHolder {
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-row-gap: 7px;
}

.LatestContent {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-column-gap: 5px;
  margin-left: 10px;
}

.ContentCategoryTypeContainer {
  background-color: #d1d3d4;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.LatestContent .CenterContainer {
  width: 100%;
  height: 100%;
}


/*ALL FOOTER CSS IS FOUND UNDER FIRST HALF CSS */
.FooterHolder {

}

.InnerContainer {
  background-color: #d7d8d8;
  position: relative;
  top: 6%;
  width: 96%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
}

#FooterSubscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#FooterSubscribe > .InputBoxContainer {
  width: 95%;
  height: 30px;
}
