/* CSS TODO :
 - Create a new CSS File for Buttons/Reusable Symbols
 - Create a CSS file when exporting which combines most together
 - Not into one file but 3-4 files
*/

@media (max-width: 800px) {
  .HeaderListItem {
    font-size: 2vw;
  }

  .HeaderName {
    position: absolute;
    top: -5px;
  }

  .HeaderListItem:hover {
    background-color: white;
    font-size: 2.5vw;
    margin-top: 10px;
    height: 100px;
    color: rgb(51,51,51);
  }

}

@media (max-width: 620px) {

  .HeaderList {
      float:  none;
      display: none;
      opacity: 0;
  }

  #NavOptions li + li:before {
      content: "";
      padding: 0 0px;
  }

  .HeaderListPhone {
    display: block;
    content: normal;

  }

  .HeaderName {
    position: absolute;
    right: -5px;
    width: 100%;
    text-align: center;
    float: none;
  }

  .HeaderListIcon {
    display: inline-block;
  }

  .HeaderListItem {
    display: block;
    color: black;
    float: none;
    opacity: 0;
  }

  .PhoneList {
    display: block;
    position: relative;
    top: -10px;
    background-color: rgb(86, 83, 80);
  }

  .HeaderListPhoneItem {
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    content: normal;
  }

}
